@charset "utf-8";
/* CSS Document */

@font-face {
				font-family: 'MyriadPro-Regular';
				src: url('../fonts/myriadpro-regular.eot');
				src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/myriadpro-regular.woff') format('woff'),
						 url('../fonts/myriadpro-regular.ttf') format('truetype'),
						 url('../fonts/myriadpro-regular.svg#myriadpro-regular') format('svg');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
    font-family: 'copperplateregular';
    src: url('../fonts/09596_copperplate-webfont.woff2') format('woff2'),
         url('../fonts/09596_copperplate-webfont.woff') format('woff'),
		 url('../fonts/09596_copperplate-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Myriad Pro Light';
    src: url('../fonts/MyriadPro-Light.eot');
    src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Light.woff2') format('woff2'),
        url('../fonts/MyriadPro-Light.woff') format('woff'),
        url('../fonts/MyriadPro-Light.ttf') format('truetype'),
        url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}